<form name="contact" method="POST" data-netlify="true" action="/thank-you" class="row g-3 needs-validation bg-secondary-subtle mx-2 my-5 rounded" novalidate>
    <input type="hidden" name="form-name" value="contact">
    
    <div class="col-md-6">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="ex: Mark" required>
        <div class="invalid-feedback">Veuillez saisir un prénom valide.</div>
    </div>

    <div class="col-md-6">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="ex: Dupont" required>
        <div class="invalid-feedback">Veuillez saisir un nom valide.</div>
    </div>

    <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="jean.dupont@gmail.com" required>
        <div class="invalid-feedback">Veuillez saisir une adresse e-mail valide.</div>
    </div>

    <div class="col-md-4">
        <label for="telephone" class="form-label">Téléphone</label>
        <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="+33 6 12 34 56 78" 
               pattern="^\+33\s?[1-9](?:[\s.-]?\d{2}){4}$" required>
        <div class="invalid-feedback">Veuillez saisir un numéro de téléphone valide.</div>
    </div>

    <div class="col-md-4">
        <label for="date" class="form-label">Date de l'évènement</label>
        <input type="date" class="form-control" id="date" name="date" required>
        <div class="invalid-feedback">Choisissez une date.</div>
    </div>

    <div class="col-12">
        <label for="message" class="form-label">Informations sur l'évènement</label>
        <textarea class="form-control" id="message" name="message" rows="5"></textarea>
    </div>

    <div class="col-12 my-3">
        <button class="btn btn-secondary" type="submit">Soumettre le formulaire</button>
    </div>
</form>
